* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  margin: 0;
  height: 100dvh;
  width: 100dvw;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: #007a78;
}
.wrapper {
  display: flex;
  margin: auto;
  height: 100dvh;
  width: 100dvw;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.slider {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 10px solid #ffc745;
  width: 100%;
  max-width: 60em;
  min-height: 30em;
  overflow: hidden;
}

.slides {
  display: flex;
  width: 400%;
  height: auto;
  transition: 0.5s ease-in-out;
}

.slide {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: white;
}
.slide img {
  max-width: 100%;
  margin: 0 auto;
  object-fit: contain;
}
#s1:checked ~ .slides {
  transform: translate(0);
}
#s2:checked ~ .slides {
  transform: translate(-25%);
}
#s3:checked ~ .slides {
  transform: translate(-50%);
}
#s4:checked ~ .slides {
  transform: translate(-75%);
}
.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#s1:checked ~ .controls #desc1 {
  /* display: block; */
  opacity: 1;
  color: #ffc745;
}

#s2:checked ~ .controls #desc2 {
  color: #ffc745;
  /* display: block; */
  opacity: 1;

  transform: translate(-200%);
}
#s3:checked ~ .controls #desc3 {
  color: #ffc745;
  /* display: block; */
  opacity: 1;

  transform: translate(-387%);
}
#s4:checked ~ .controls #desc4 {
  color: #ffc745;
  /* display: block; */
  opacity: 1;

  transform: translate(-239%);
}

#s1:checked ~ .controls label[for="s1"],
#s2:checked ~ .controls label[for="s2"],
#s3:checked ~ .controls label[for="s3"],
#s4:checked ~ .controls label[for="s4"] {
  opacity: 1;
  transform: scale(1.2);
  background-color: #ffffff;
}
#s1:active ~ .controls label[for="s1"],
#s2:active ~ .controls label[for="s2"],
#s3:active ~ .controls label[for="s3"],
#s4:active ~ .controls label[for="s4"] {
  opacity: 1;
  transform: scale(1.2);
  background-color: #d79838;
}
.controls {
  display: flex;
  justify-content: space-between;
}
.description {
  display: block;
  font-weight: 400;
  font-size: 1em;
  padding: 10px 12px;
  opacity: 0;
  transition: all 0.5s ease;
}

.slider-nav {
  display: flex;
}
.slider-nav + .description {
  display: flex;
  flex-direction: row;
}
.slider-nav label {
  display: flex;
  width: 2em;
  height: 2em;
  border: 10px solid #007a78;
  border-radius: 50%;
  background-color: #ffc745;
  cursor: pointer;
  margin: 10px 5px;
  opacity: 1;
  padding: 10px;
  transition: 0.5s;
}

.slider-nav label:hover {
  opacity: 1;
  background-color: #ffc745;
  transform: scale(1.1);
}
input[name="control"] {
  display: none;
}

@media screen and (max-width: 768.9px) {
  .slide img {
    object-fit: contain;
  }
  .sliderDescription {
    flex-direction: column;
  }

  .slider-nav {
    justify-content: center;
    align-items: center;
  }
  .controls {
    flex-direction: column-reverse;
  }
}
@media screen and (max-width: 480.9px) {
  p {
    font-size: 1.3em;
  }
}
